.display-result{
    text-align: center;
    line-height: 1.5;

    img {
        max-width: 100%;
    }
}

.distance-text {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s alternate infinite;
    display: block;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}