.airport-search-container{
    margin: 50px auto;
    width: 80%;
    text-align: left;
    padding: 30px;
    border: 1px solid #adadad;
    border-radius: 15px;
    grid-gap: 30px;
    grid-template-columns: auto auto;
    max-width: 480px;
    background: #fff;
    box-shadow: 0px 0px 17px -7px #000;
}

.airport-select{
    margin: 0 auto 30px;
}

.user-input{
    min-width: 50%;
}

.MuiAutocomplete-root {
    width: 100% !important;
    min-width: 360px;
}

.no-map{
    height: 0;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .airport-search-container{        
        grid-template-columns: auto;
    }


}
